<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Nexus-Local" value="http://localhost:8081/repository/nuget-hosted/" />
    <add key="Nexus-YHLSoft" value="http://192.168.10.59:8081/repository/nuget-hosted/" />
  </packageSources>
</configuration>
